@charset 'UTF-8';
.easy-selector {
	position: relative;
	border: 1px solid #d2d2d2;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	user-select: none;
	cursor: pointer;
	display: inline-block;
}

.easy-selector.error {
	border: 1px dotted #cc5965;
}

.easy-selector:focus,
.easy-selector.focus {
	border-color: #1ab394 !important;
}

.easy-selector .value-area span {
	padding-left: 12px;
	width: 100%;
}

.easy-selector .dropdown-menu {
	position: absolute;
	width: 100%;
	border: 1px solid #d2d2d2;
	top: 34px;
	left: 0;
	overflow: hidden;
	background-color: #fff;
}

.easy-selector .menu-wrapper {
	
}

.easy-selector .dropdown-menu ul {
	padding: 0 0 30px 0;
	margin: 0;
	clear: both;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	display: block;
	overflow-y: auto;
	position: static;
}


.easy-selector .dropdown-menu ul li {
	list-style: none;
	line-height: 24px;
	box-sizing: border-box;
	width: 100%;
	outline: none;
	cursor: pointer;
	padding: 3px 0 3px 10px;
}

.easy-selector .dropdown-menu ul li.disabled {
	cursor: not-allowed;
}

.easy-selector-indent {
	background-color: transparent;
	padding: 0 13px;
	font-size: 18px;
	box-sizing: border-box;
}

.easy-selector .dropdown-menu ul li.selected {
	background-color: #edf1f2;
}

.easy-selector .dropdown-menu ul li.hover {
	background-color: #F0F0F0;
}


.easy-selector .more-wrapper {
	float: none;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.easy-selector .more-btn {
	position: absolute;
	width: 100%;
	height: 26px;
	border: 0;
	color: #666;
	outline: none;
	text-align: left;
	padding: 8px 0 8px 10px;
	cursor: pointer;
	margin: 0;
	background-color: #f1f1f1;
	bottom: 0;
	display: block;
	box-sizing: border-box;
	line-height: 10px;
}

.easy-caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle;
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
}

.easy-caret.caret-top {
	border-top: 0;
	border-bottom: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.easy-caret.caret-bottom {
	border-top: 4px solid;
	border-bottom: 0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.easy-selector .dropdown-menu::-webkit-scrollbar { 
	width: 0px; 
	height: 0px;
}
.easy-selector .dropdown-menu::-webkit-scrollbar-button:vertical {
	display: none;
}
.easy-selector .dropdown-menu::-webkit-scrollbar-track, 
.easy-selector .dropdown-menu::-webkit-scrollbar-corner {
	background-color: #e2e2e2;
}
.easy-selector .dropdown-menu::-webkit-scrollbar-thumb {
	border-radius: 0; 
	background-color: rgba(0,0,0,.3);
}
.easy-selector .dropdown-menu::-webkit-scrollbar-thumb:vertical:hover {
	background-color: rgba(0,0,0,.35);
}
.easy-selector .dropdown-menu::-webkit-scrollbar-thumb:vertical:active {
	background-color: rgba(0,0,0,.38);
}


.easy-arrow{
    width:20px;
    height:20px;
    position:relative;
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
}
/*右箭头*/
.easy-arrow:before{
	content: "";
	display: block;
    width: 0;
    height: 0;
    position:absolute;
    border: 10px solid;
}
.easy-arrow:after{
	content: "";
	display: block;
    width: 0;
    height: 0;
    position:absolute;
    border: 10px solid;
}

.easy-arrow.easy-arrow-top:before {
	right: 0;
	bottom:25%;
	margin-bottom: 2px;
	border-color: transparent transparent #ddd transparent;
}

.easy-arrow.easy-arrow-top:after {
	right: 0;
	bottom: 25%;
	border-color: transparent transparent #fff transparent;
}

.easy-arrow.easy-arrow-bottom:before {
	right: 0;
	top: 25%;
	border-color: #ddd transparent transparent transparent;
}

.easy-arrow.easy-arrow-bottom:after {
	right: 0;
	top: 25%;
	margin-top: -2px;
	border-color: #fff transparent transparent transparent;
}

.easy-arrow.easy-arrow-right:before {
	left: 25%;
	top: 0;
	margin-left: 2px;
	border-color: transparent transparent transparent #ddd;
}

.easy-arrow.easy-arrow-right:after {
	left: 25%;
	top: 0;
	border-color: transparent transparent transparent #fff;
}

.easy-arrow.easy-arrow-left:before {
	right: 25%;
	top: 0;
	margin-right: 2px;
	border-color: transparent #ddd transparent transparent;
}

.easy-arrow.easy-arrow-left:after {
	right: 25%;
	top: 0;
	border-color: transparent #fff transparent transparent;
}


.easy-selector .dropdown-menu ul li.selected .easy-arrow-bottom:after {
	border-top-color: #edf1f2;
}

.easy-selector .dropdown-menu ul li.hover .easy-arrow-bottom:after {
	border-top-color: #F0F0F0;
}


.easy-selector .dropdown-menu ul li.selected .easy-arrow-top:after {
	border-bottom-color: #edf1f2;
}

.easy-selector .dropdown-menu ul li.hover .easy-arrow-top:after {
	border-bottom-color: #F0F0F0;
}

.easy-selector .dropdown-menu ul li.selected .easy-arrow-left:after {
	border-right-color: #edf1f2;
}

.easy-selector .dropdown-menu ul li.hover .easy-arrow-left:after {
	border-right-color: #F0F0F0;
}

.easy-selector .dropdown-menu ul li.selected .easy-arrow-right:after {
	border-left-color: #edf1f2;
}

.easy-selector .dropdown-menu ul li.hover .easy-arrow-right:after {
	border-left-color: #F0F0F0;
}





